* {
  font-family: 'Noto Sans KR', sans-serif;
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  color: #000;
}
:root {
  --text-color: #f0f4f5;
  --background-color: #263343;
  --accent-color: orange;
  --icons-color: rgb(152, 187, 201);
  --bodybackground-color: lightgray;
}

body { 
  margin: 0;
  background-color: var(--bodybackground-color);
  font-family: 'STIX Two Math';
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  padding: 8px 12px;
  font-family: 'STIX Two Math';
}

.navbar__logo i {
  color: var(--accent-color);
  padding-left: 0;
}

.navbar__menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding-left: 0;
}

.navbar__menu li {
  padding: 8px 30px;
}

.navbar__icons {
  list-style: none;
  display: flex;
  color: var(--icons-color);
  margin: 0;
  padding-left: 0;
}

.navbar__icons li {
  padding: 8px 12px;
  margin: 0;
}
h1 {
  font-size: 48px;
  font-weight: 100;
}

.contents1 {
  font-size: 20px;
  font-weight: lighter;
}

.contents2 {
  font-size: 18px;
}

.contents3 {
  font-size: 14px;
  font-weight: 100;
}

.contents1_bold {
  font-size: 18px;
  font-weight: bold;
}

.intro_bg {
  background-image: url("../images/intro.png");
  width: auto;
  height: 300px;
}

.header {
  width: 1500px;
  margin: auto;
  display: flex;
  height: 86px;
}

.searchArea {
  width: 300px;
  height: 40px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin-top: 24px;
}

.searchArea form input {
  border: none;
  width: 250px;
  height: 40px;
  background: rgba(0, 0, 0, 0);
  color: #fff;
  padding-left: 10px;
}

.searchArea form span {
  width: 50px;
  color: #fff;
}

